

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - All Shipment Application</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("All Shipment", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All Shipment", "Index", "Home")</li>
                    <li>@Html.ActionLink("Search", "Search", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Microsoft &copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/toastr")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*@Html.Partial("_Toastr")*@


    <div id="notify" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header " id="notifyHeader">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="notifyHeaderMessage"></h4>
                </div>
                <div class="modal-body">
                    <p id="notifyMessage"></p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn pull-right lsgclr " data-dismiss="modal"
                            id="notifyOK">
                        OK
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div id="fade"></div>
    <div id="modalLoading">
        <img id="loader" src="@Url.Content("~/Content/loading.gif")" style="height:50px; width:50px" />
        <center><span>Loading...</span></center>
    </div>


    <style>
        #fade {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #ababab;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .70;
            filter: alpha(opacity=80);
        }

        #modalLoading {
            display: none;
            position: absolute;
            top: 45%;
            left: 45%;
            width: 100px;
            height: 104px;
            padding: 30px 15px 0px;
            /*border: 3px solid #ababab;
        box-shadow: 1px 1px 10px #ababab;
        border-radius: 20px;
        background-color: white;*/
            z-index: 1002;
            text-align: center;
        }

        #results {
            font-size: 1.25em;
            color: red;
        }
    </style>
    <script>
        function Loading(flag) {

            if (flag) {
                document.getElementById('modalLoading').style.display = 'block';
                document.getElementById('fade').style.display = 'block';
            }
            else {
                document.getElementById('modalLoading').style.display = 'none';
                document.getElementById('fade').style.display = 'none';
            }
        }
    </script>

</body>
</html>
