@{
    ViewBag.Title = "All Shipment Data from Production";
}
@using TestFromProdWebApp.Models
@model TestFromProdWebApp.Models.SearchViewModel

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>Service Name</td>
                    <td>
                        @Html.DropDownList("Shipment_ServiceName", new SelectList(ViewBag.ServiceNameList, "Text", "Value"))
                    </td>
                    <td>Scenario</td>
                    <td>
                        @Html.DropDownList("Shipment_Scenario", new SelectList(ViewBag.ScenariosList, "Text", "Value"))
                    </td>
                    <td>SalesOrder Type</td>
                    <td>
                        @Html.DropDownList("Shipment_SalesOrderType", new SelectList(ViewBag.SalesOrderTypeList, "Text", "Value"))
                    </td>
                    <td>Sender Name</td>
                    <td>
                        @Html.DropDownList("Shipment_SenderName", new SelectList(ViewBag.SenderNameList, "Text", "Value"))
                    </td>
                    <td> <button type="button" id="btnSearch" class="btn btn-primary">Search</button></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="divSearchResult">
            @Html.Partial("SearchResult", Model.ShipmentResult);
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {


        $("#btnSearch").click(function () {
            var Shipment = {};
            Shipment.ServiceName = $("#Shipment_ServiceName").val();
            Shipment.Scenario = $("#Shipment_Scenario").val();
            Shipment.SalesOrderType = $("#Shipment_SalesOrderType").val();
            Shipment.SenderName = $("#Shipment_SenderName").val();
            Loading(true);
            $.ajax({
                method: "Post",
                url: "@Url.Action("SearchHomePage", "Home")",
                data: Shipment
            }).then(function success(data) {
                
                $("#divSearchResult").html(data);
                Loading(false);
                });

        });
        $(".searchResultTable").on("change", ".postToService", function () {
            $(".searchResultTable .postToService").each(function () {
                $(this).prop("checked", false);
            });
            $(this).prop("checked", true);
        });

        $("#divSearchResult").on("click", ".btnpost", function () {
            var correlationId;
            var serviceName;
            var tdMessage;
            $(".postToService:checked").each(function () {
                correlationId = $(this).closest('tr').find('.correlationId').text();
                serviceName = $(this).closest('tr').find('.servicename').text();
                tdMessage = $(this).closest('tr').find('.postResponse');
            

            var environ = $('.env').val();
            Loading(true);
            $.ajax({
                method: "Post",
                url: "@Url.Action("PostToService", "Home")",
                data: {
                    "correlationId": correlationId, "environment": environ, "serviceName": serviceName }
            }).then(function success(data) {

                Loading(false);
                //here we will get the response
                if (data.Status == true)
                {
                    $("#notify #notifyMessage").text(data.ResponseMessage);
                    $('#notify').modal('show'); 
                    tdMessage.text("Success! " + correlationId + " Posted to SIT.");
                }
                else
                {
                    $("#notify #notifyMessage").text(data.ResponseMessage);
                    $('#notify').modal('show'); 
                    tdMessage   .text("Error! " + data.ResponseMessage);
                }
                });

            });

        });
    });
</script>